extends layout

block content
  article
    h1 #{title}
    div.addCommentForm
          form( method="post", action="/api/entries")
              div
                  div
                      span.label Name :
                      input(type="text", class="nameTxt", name="title")
                  div
                      span.label Comment :
                      textarea(name="description")
                  div#addCommentSubmit
                      input(type="submit", value="Add entry")
    //- br
    //- br
    #entries
      - each entry in entries
          .entry(style="padding:2%;border:1px solid #51b6ae ")
            span title: #{entry.title}
            span description: #{entry.description}
            span created: #{entry.created}
            span id: #{entry.id}
            br
            //-el delete deberia hacerse con un AJAX, para proximamente...se hace una Ñapa con un GET
            a#api(href='api/entries/#{entry.id}', style="display:inline-block")
              input(type='submit', value='View API')
            input#del(type='submit', value='Delete', data-id='#{entry.id}')

block footer
  blockquote #{footer}
    a(href='https://github.com/cybermarkus1/express_basic') Github project