body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

article
  padding: 50px
a
  color: #00B7FF
.addCommentForm
    width 450px
  input[type =text]
    width 200px
    margin-left 38px
  textarea
    width 200px
    margin-left 10px
  input[type =button], input[type =submit], a#api
    clear both
    margin-left 10px
    display inline-block
  span
    display block
  .label
      text-align right !important
      display block
      float left

footer
  position absolute
  bottom 0
  background black
  color white
  width 96%
  padding 1%